<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-container">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item class="item-container"> Compteur de {{ owner }}</ion-item>

  <div class="button-container">
    <ion-button expand="block" class="button" (click)="GoToMaps()">
      <ion-icon slot="start" name="map"></ion-icon>
      Show in Maps
    </ion-button>

    <ng-container *ngIf="hasImage; else noImage">
      <div class="no-image-label">
        There's a picture for this month.
      </div>

    </ng-container>

    <ng-template #noImage>
      <ion-button expand="block" class="button" (click)="AddPic()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Add image
      </ion-button>
    </ng-template>
  </div>
</ion-content>
